<div class="container">
<h2>Ask Your Stupid Coach A Question</h2>
  <form action="/answer" data-turbo="false" method="get" class="">
    <div class="row">
      <div class="col-6">
        <input type="text" name="question" class="form-control">
      </div>
      <div class="col">
        <input type="submit" value="Ask!" class="btn btn-primary">
      </div>
    </div>
  </form>
</div>
